@{
	var currentPath = Context.Request.Path.ToString().ToLowerInvariant().Trim('/');
}


<div class="container">
	@await Component.InvokeAsync("Head")

	<!-- 
		<div class="header-footer ">
		<div class="category-slider mt-3">
			<a href="/" class="btn btn-primary @(string.IsNullOrWhiteSpace(currentPath) ? "active" : "")">Ana Sayfa</a>

			@foreach (var category in Model)
			{
				var url = $"kategori/{category.Id}";
				var isActive = currentPath == url;

				<a href="/@url" class="btn btn-primary @(isActive ? "active" : "")">
					@category.Name
				</a>
			}
		</div>

	</div>

	-->
</div>

<style>
    /* Offcanvas içindeki body padding-bottom */
    #mobileMenu .offcanvas-body {
        padding-bottom: 130px;
    }

	/* Offcanvas genişliğini masaüstünde %50 yap */
	@@media (min-width: 992px) { /* lg ve üstü */
		#mobileMenu.offcanvas-start

	{
		width: 100% !important;
	}

	}

	/* İstersen mobilde eski genişliği koru */
	@@media (max-width: 991px) {
		#mobileMenu.offcanvas-start

	{
		width: 100%; /* tam ekran */
	}

	}
</style>

<!-- Mobil Sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu">
	<div class="offcanvas-header">
		<a style="text-decoration:none;" href="/" class="logo">Şişli Acil Medikal</a>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="list-unstyled">
			<li>
				<a href="/" class="text-decoration-none @(string.IsNullOrWhiteSpace(currentPath) ? "active" : "")">Ana Sayfa</a>
			</li>
			@foreach (var category in Model)
			{
				var url = $"kategori/{category.Id}";
				var isActive = currentPath == url;

				<li>
					<a href="/@url" class="text-decoration-none @(isActive ? "active" : "")">
						@category.Name
					</a>
				</li>
			}
		</ul>
	</div>
</div>

